<template>
  <div class="hotel_detail" >
    
	  <div class="pop-box" v-show="box">
			<div class="inside">
			<div class="box-nav">
				<a href="">全部(225)</a>
				<a href="">外观(6)</a>
				<a href="">内景(27)</a>
				<a href="">房间(149)</a>
				<a href="">环境(36)</a>
				<a href="">餐厅(7)</a>
				<a href="">用户图片(118)</a>	
			</div>
			<div>
				<a  class="cut" @click="cut"><i></i></a>
			</div>
			
	
			<div class="photo_left border" >
				<img src="../.././public/img/hotel_detail/11.jpeg" class="my-big" alt="1">
				<div class="cover">
					<a href="" class="left"><i></i></a>
					<a href="" class="right" ><i></i></a>
				</div>
			</div>
			<div>
				<a href="javascript:;" class="btn-up"><i></i></a>
			</div>
			<div>
				<a href="javascript:;" class="btn-down"><i></i></a>

			</div>
			<div class="photo_right" @click="right($event)">
					<ul>
						<li>
							<img src="../.././public/img/hotel_detail/11.jpeg" data-target="../.././public/img/hotel_detail/11.jpeg" class="my-small">
						</li>
						<li>
							<img src="../.././public/img/hotel_detail/12.jpeg" data-target="../.././public/img/hotel_detail/12.jpeg" class="my-small">
						</li>
						<li>
							<img src="../.././public/img/hotel_detail/13.jpeg" data-target="../.././public/img/hotel_detail/13.jpeg" class="my-small">
						</li>
						<li>
							<img src="../.././public/img/hotel_detail/14.jpeg" data-target="../.././public/img/hotel_detail/14.jpeg" class="my-small">
						</li>
						<li>
							<img src="../.././public/img/hotel_detail/15.jpeg" data-target="../.././public/img/hotel_detail/15.jpeg" class="my-small">
						</li>
					</ul>
			</div>
		

		
		</div>
		
		</div>
		<!-- 房型简要说明 -->
		<div class="heigh" v-show="heigh">
			<div  class="heighhotel_detail">
			<div class="flex">
			<span>高级房详情</span>
			<a class="tuo" @click="close"><i class="quan"></i></a>
			</div>
			<strong>房间数：</strong><span>58间</span><strong>面积：</strong><span>42平方米</span><strong>楼层：</strong><span>6-8层</span><strong>是否有窗：</strong><span>有窗</span>
			<strong>能否加床：加床</strong><span>：RMB 298</span><strong>床型：</strong><span>1张1.8米大床 或 2张1.2米单人床</span>
			<strong>无烟信息：该房可无烟处理宽带：</strong>
			<span>全部房间：支持免费有线和无线宽带上网</span>
			
			</div>
		</div>	


		<!-- -------------------------------------------------------------------------------- -->
		<!-- 	网页头部 -->
		<div class="header border">请引入头部</div>
		<!-- 导航栏 -->
		  <div v-for="(p,index) of hotel_detail" :key="index">
			<div>
			<div class="top-nav">
				<ul class="flex">
					<a>您在这里：</a>
					<a>酒店></a>
					<a>中国></a>
					<a>三亚></a>
					<a>三亚哈曼度假酒店预定</a>
					</ul>
			</div>
		<!-- 	酒店头部以及主要图片 -->
		<div class="hotel-header">
			<div class="chinese-title">
				<h1>三亚哈曼度假酒店<i class="bird"></i></h1>
				
			</div>
			<div class="en-title">
				<span>Harman Hotel Sanya</span>
			</div>
			<div class="location">
				<span>地址：大东海旅游度假区榆亚路136号</span>
				<a href="">
					<i class="s_dt"></i>
					<img src="" alt="">查看地图</a>
				
			</div>
			<!-- 酒店主要图片 -->
			<div class="hotel1hotel_detail flex">
				<div class="left_img">
				<img class="big_img" src="../.././public/img/hotel_detail/1.jpeg">
				<div class="float_text flex">
					<p>酒店位于BTS的Rechathewi站,酒店附近都有7-11,步行5-10分钟左右可到siam商业区.部分宽敞的客房可以欣赏市景.</p>
				</div>
				</div>
				<ul class="right_img flex1" @click="big_window">
					<li>
						<img src="../.././public/img/hotel_detail/12.jpeg">
					</li>
					<li>
						<img src="../.././public/img/hotel_detail/13.jpeg">
					</li>
					<li>
						<img src="../.././public/img/hotel_detail/14.jpeg">
					</li>
					<li>
						<img src="../.././public/img/hotel_detail/15.jpeg">
					</li>
					<li>
						<img src="../.././public/img/hotel_detail/16.jpeg">
					</li>
					<li>
						<img src="../.././public/img/hotel_detail/17.jpeg">
					</li>
				</ul>
			</div>
			</div>

			<!-- ----------------------------------------------------------------- -->
			
		
			<!-- 图片下面导航栏 -->
			<div class="middle_nav flex">
				<div class="middle flex">
				<ul class="left_nav clearfix flex">
					<a href="">预定</a>
					<a href="">详情</a>
					<a href="">位置</a>
					<a href="">点评</a>
					
				</ul>
				<div class="right_nav flex">
				
					
				<i class="wjx"></i>
					<a href="">收藏</a>
				</div>
				</div>
			</div>
		<div class="totall">
		
	<!-- 	房间区域 -->
			<div class="middle_room ">
				<!-- 	中间搜索-->
			<div class="middle_search flex border">
				<input class="start_time border" type="input"><i class="rt"></i>
				<div class="s_img"></div>
				<input class="leave_time border" type="input"><i class="rt"></i>
				<input class="number border" type="text" placeholder="人数未定"><i class="ren"></i>
				<button class="btn"  type="button">查看价格</button>
				</div>
			<!-- 	中间价格选择 -->
				<div class="price_list ">
				
					<div class="roomhotel_detail border">
						<div>房型</div>
						<div>人数上限</div>
						<div>相关政策</div>
						<div>价格</div>
						<div>预订房间数</div>
					</div>	
					<!-- 房间具体信息 -->
					<div class="hotel_room ">
						<div class="room_left">
								<div class="room_type" @click="room_type">
									<i class="point"></i>
									<span>高级房</span>
									<a>查看详情</a>
								</div>
						</div>
						<div class="flex5">
							<div class="room_desc flex4 border5">
								<div class="user_number">
									<i class="t_ren"></i>
									<span>3住客</span>
								</div>
								<ul>
									<li>含3人份早餐</li>
									<li>不可取消和变更</li>
									<li>在线付</li>
									<li>二次确认</li>
									<li class="xianzhi">入住限制
										<i class="ruzhu"></i>
										<span class="zeng">2020年1月24日入住赠送价值298元除夕夜单人海鲜火锅自助晚餐1次，使用时间：1月24日17：00-19：00，需提前预约餐位，预约电话：0898-31528888转餐饮部。</span>
									</li>
								</ul>
								<div class="room_price">
									<strong>￥338</strong>
									<i>(已含税)</i>
								</div>
								<div class="yuding flex1">
									<div class="kuang border" @click="kuang">
										<span>1</span>
										<span></span>
										<span><i class="kuang_number"></i></span>
									
									</div>
										
									<router-link to="/hotel_order">预定</router-link>
									<span class="surplus">剩余8间</span>
									<!-- 隐藏房间数部分 -->
										<ul class="border select_roomnum" v-if="select_roomnum">
											<li>1</li>
											<li>2</li>
											<li>3</li>
											<li>4</li>
											<li>5</li>
											<li>6</li>
											<li>7</li>
											<li>8</li>
										</ul>
								</div>
								
								
						</div>
					<div class="room_desc flex4 border4">
							<div class="user_number">
								<i class="t_ren"></i>
								<span>3住客</span>
								</div>
							<ul>
								<li>含3人份早餐</li>
								<li>不可取消和变更</li>
								<li>在线付</li>
								<li>二次确认</li>
								<li class="xianzhi">入住限制
										<i class="ruzhu"></i>
										<span class="zeng">2020年1月24日入住赠送价值298元除夕夜单人海鲜火锅自助晚餐1次，使用时间：1月24日17：00-19：00，需提前预约餐位，预约电话：0898-31528888转餐饮部。</span>
								</li>
							</ul>
							<div class="room_price">
								<strong>￥338</strong>
								<i>(已含税)</i>
							</div>
							<div class="yuding flex1">
								<div class="kuang border">
									<span>1</span>
										<span></span>
										<span><i class="kuang_number"></i></span>
								</div>
								<router-link to="/hotel_order">预定</router-link>
								<span class="surplus">剩余8间</span>
							</div>
					</div>
					</div>
					
					
					
					</div>
				<div class="hotel_room border">
						<div class="room_left">
								<div class="room_type" @click="room_type">
									<i class="point"></i>
									<span>港湾房</span>
									<a>查看详情</a>
								</div>
						</div>
						<div class="flex5">
							<div class="room_desc flex4 border5">
								<div class="user_number">
									<i class="t_ren"></i>
									<span>3住客</span>
								</div>
								<ul>
									<li>含3人份早餐</li>
									<li>不可取消和变更</li>
									<li>在线付</li>
									<li>二次确认</li>
								</ul>
								<div class="room_price">
									<strong>￥616</strong>
									<i>(已含税)</i>
								</div>
								<div class="yuding flex1">
									<div class="kuang border">
										<span>1</span>
										<span></span>
										<span><i class="kuang_number"></i></span>
									</div>
									<router-link to="/hotel_order">预定</router-link>
									<span class="surplus">剩余8间</span>
								</div>
						</div>
					<div class="room_desc flex4 border4">
							<div class="user_number">
								<i class="t_ren"></i>
								<span>3住客</span>
								</div>
							<ul>
								<li>含3人份早餐</li>
								<li>不可取消和变更</li>
								<li>在线付</li>
								<li>二次确认</li>
							</ul>
							<div class="room_price">
								<strong>￥695</strong>
								<i>(已含税)</i>
							</div>
							<div class="yuding flex1">
								<div class="kuang border">
									<span>1</span>
										<span></span>
										<span><i class="kuang_number"></i></span>
								</div>
								<router-link to="/hotel_order">预定</router-link>
								<span class="surplus">剩余8间</span>
							</div>
					</div>
					</div>
					
					
					
					</div>
				
			
					<!-- 信息区域 -->
					<div class="hotel_info">
						<div class="flex info_first border4">
							<dl class="flex">
								<dt>基本信息</dt>
								<dd>
									<span>入住时间:</span>
									<strong>14:00之后</strong>
								</dd>
								<dd>
									<span>离店时间:</span>
									<strong>12:00之前</strong>
								</dd>
								<dd>
									<span>建成于:</span>
									<span>1967年</span>
								</dd>
								<dd>
									<span>翻修于: </span>
									<strong>2012年</strong>
								</dd>
								<dd>
									<span>酒店规模:</span>
									<strong>490间客房</strong>
								</dd>
							</dl>
						</div>
				<div class="info_two">
						<dl class="flex4">
							<dt>酒店设施</dt>
							<ul class="border5">
								<li>
									<p>酒吧</p>
									<p>足浴</p>
									<p>台球</p>
									<p>礼品廊</p>
									</li>
									<li>
										<p>咖啡厅</p>
										<p>室外游泳池</p>
										<p>桌球室</p>
										<p>多功能厅</p>
									</li>
									<li>
										<p>中餐厅</p>
										<p>高尔夫球场</p>
										<p>西餐厅</p>
										<p>公共区域监控</p>
										</li>
										<li>
											<p>理发美容室</p>
											<p>健身房</p>
											<p>无障碍客房</p>
											<p>传真/复印</p>
										</li>
										<li>
											<p>商务中心</p>
											<p>卡拉OK厅</p>
											<p>会议设施</p>
											<p>休息区</p>
										</li>
							</ul>
						</dl>
						</div>
					<div class="info_three">
						<dl class="flex4">
							<dt>房间设施</dt>
							<ul  class="border5">
								<li>
									<p>浴衣</p>
									<p>宽带上网</p>
									<p>叫醒服务</p>
									<p>咖啡壶／茶具</p>
									<p>洗浴间电话</p>
									</li>
									<li>
										<p>保险箱</p>
										<p>无烟房</p>
										<p>淋浴设施</p>
										<p>衣柜/衣橱</p>
										<p>手动窗帘</p>
									</li>
									<li>
										<p>24小时热水</p>
										<p>小冰箱／迷你吧</p>
										<p>电视</p>
										<p>拖鞋</p>
										<p>书桌</p>
										</li>
										<li>
											<p>国内长途电话</p>
											<p>雨伞租借服务</p>
											<p>空调</p>
											<p>毯子或被子</p>
											<p>电话</p>
										</li>
										<li>
											<p>叫醒服务</p>
											<p>国际长途电话</p>
											<p>免费洗漱用品</p>
											<p>免费报纸</p>
											<p>化妆镜</p>
										</li>
							</ul>
						</dl>
					</div>
					<div class="info_four border4">
						<dl class="flex4">
							<dt>酒店服务</dt>
							<ul>
								<li>
									<p>取款服务</p>
									<p>婚宴服务</p>
									<p>熨衣服务</p>
									<p>信用卡结算</p>
									</li>
									<li>
										<p>SPA</p>
										<p>客房服务</p>
										<p>淋浴设施</p>
										<p>叫车服务</p>
										
									</li>
									<li>
										<p>24小时前台服务</p>
										<p>婴儿/儿童看护</p>
										<p>干洗服务</p>
										<p>多国语言工作人员</p>
										</li>
										<li>
											<p>洗衣服务</p>
											<p>租车服务</p>
											<p>酒店禁烟</p>
											<p>24小时大堂经理</p>
										</li>
										<li>
											<p>外币兑换服务</p>
											<p>按摩保健</p>
											<p>礼宾服务</p>
											<p>行李服务</p>
										</li>
							</ul>
						</dl>
						
					</div>
				<div class="info_five border4">
					<a href="">马蜂窝酒店平台合作伙伴</a>
				</div> 
					 <div class="info_six border4">
						<dl class="flex">
						<dt>酒店攻略</dt>
						<ul>
						<li>
						三亚哈曼度假酒店位于大东海旅游区壹号港湾城“大菠萝”综合商业Mall内，设有IMAX电影院、购物街、特色餐饮、超市等配套，将城里人的生活方式完美植入热带滨海度假的欢乐时光。 酒店地处三亚旅游交通枢纽中心，可乘搭公共交通便捷往返于凤凰国际机场、动车站及各大景区之间。此外，酒店还设有往返亚龙湾、海棠湾（经停免税店、亚特兰蒂斯）穿梭巴士站点。 酒店拥有丰富的亲子设施，包括室内儿童乐园、趣味活动、竹竿舞、DIY手工秀等活动，让您和家人在欢笑中乐而忘返。 三亚高颜值网红打卡点之一的酒店空中无边际泳池，您可尽享在海天一线间畅游的唯美度假体验。酒店距离大东海沙滩步行约5分钟，并提供沙滩休闲椅、物品储存等配套服务。
						</li>
						</ul>
						</dl>
					</div>
					<!-- 	地图区域 -->
					<div class="bottom  flex">
						<div class="bottom_map border">
							<div id="container"></div>
							
						</div>
						<div class="map_right flex2">
						<ul style="width:290px" class="flex3">
							<a class="interest" @click="place"  >景点</a>
							<a class="traffic" @click="jiaotong" >交通</a>
						</ul>
						<div class="distince flex">
								<ul class="distince_detail" v-show="interest">
									<li>
										<a>第一市场</a>
										<span><i></i><i></i><i></i></span>
										<span>2.8公里</span>
									</li>
									<li>
										<a>亚龙湾</a>
										<span><i></i><i></i><i></i><i></i><i></i><i></i></span>
										<span>10.8公里</span>
									</li>
									<li>
										<a>蜈支洲岛旅游风景区</a>
										<span><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i></span>
										<span>27公里</span>
									</li>
									<li>
										<a>南山文化旅游区</a>
										<span><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i></span>
										<span>34.7公里</span>
									</li>
									<li>
										<a>呀诺达雨林文化旅游区</a>
										<span><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i></span>
										<span>28.6公里</span>
									</li>
									<li>
										<a>三亚湾</a>
										<span><i></i><i></i><i></i><i></i><i></i><i></i></span>
										<span>12.1公里</span>
									</li>
									<li>
										<a>大东海旅游区</a>
										<span><i></i></span>
										<span>0.6公里</span>
									</li>
									<li>
										<a>南山海上观音</a>
										<span><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i></span>
										<span>34.3公里</span>
									</li>
									<li>
										<a>亚龙湾热带天堂森林公园</a>
										<span><i></i><i></i><i></i><i></i><i></i><i></i><i></i></span>
										<span>13.6公里</span>
									</li>
									<li>
										<a>春园海鲜广场</a>
										<span><i></i><i></i><i></i><i></i><i></i></span>
										<span>4.8公里</span>
									</li>
								</ul>
							<ul class="traffic_detail" style="display:none" v-show="traffic">
								<li>
										<a>三亚凤凰国际机场</a>
										<span><i></i><i></i><i></i><i></i><i></i><i></i><i></i></span>
										<span>15.4公里</span>
									</li>
									<li>
										<a>三亚凤凰国际机场</a>
										<span><i></i><i></i><i></i><i></i><i></i><i></i></span>
										<span>15.1公里</span>
									</li>
									<li>
										<a>三亚火车站</a>
										<span><i></i><i></i><i></i><i></i><i></i><i></i></span>
										<span>9.1公里</span>
									</li>
								</ul>
							</div>
							</div>
							</div>
				<!-- 	</div> -->
					<!-- 用户评价区域 -->
				<div class="hotel_comment">
						<h3>200条真实用户评论</h3>
				</div>
				<!-- 评价详情 -->
				<div class="border4 comment_top">
					
						<a>全部点评200条</a>
					  	<a>相关游记20篇</a>  
				
				</div>
				<div class="commenthotel_detail border5">
						<div class="left_user flex1">
							<a class="user_tx"></a>
							<div class="left_l">
							<a>韩国锦湖</a>
							<p>LV.4</p>
							</div>
						</div>
					<div class="rigth_commen">
						<div class="text">这次时间轴就以酒店为主，三亚曼哈酒店位于大东海，距离上一次逛大东海已经是是十年前，在我印象里人很多比较嘈杂。因为第一天到三亚已经很晚了，想要个性价比较高的酒店，朋友强烈推荐爱你这一件，酒店离机场半个小时车程，位于大东海的黄金地段，到了酒店还可以叫个外卖什么的。酒店房间比较大，设施齐全，站在楼台上能听到些些海浪声。</div>	
						<div>
							<img src="../.././public/img/hotel_detail/u11.jpeg" >
							<img src="../.././public/img/hotel_detail/u12.jpeg">
							<img src="../.././public/img/hotel_detail/u13.jpeg" >
							<img src="../.././public/img/hotel_detail/u14.jpeg">
							<img src="../.././public/img/hotel_detail/u15.jpeg" >
						
						</div>
						<div class="tu">
							<i class="c_x"></i>
							<span>2018-06-21</span>
							<i class="zd"></i>
							<span>此条点评来自游记</span>
							<span class="from">《奢享慢行——都是到不了的远方，五天四晚三亚之旅》</span>
						</div>	
					</div>
					
					
				</div>
				
				
				<div class="commenthotel_detail border5">
						<div class="left_user flex1">
							<a class="user_tx2"></a>
							<div class="left_l">
							<a href="">太阳</a>
							<p>LV.4</p>
							</div>
						</div>
					<div class="rigth_commen">
						<div class="text">因为带了娃娃，所以看了很多攻略和对比了很多家差不多看了三四天的酒店才决定住在这里，就带你对的起这个价格，娃娃很喜欢楼顶的游泳池，人也不是很多。但是早餐得人饱满，早餐很丰盛，品种也很多，我觉得带娃一定要订早餐慢慢吃，早餐的人就看得出来酒店生意很好，果然好多外国人选择这个酒店啊，酒店服务员都特别热情，我也提前买了一次性浴缸套每天玩玩海和泳池回来给娃泡澡。反正酒店性价比和服务游乐的各方面都不错</div>	
						<div>
							<img src="../.././public/img/hotel_detail/u21.jpg">
							<img src="../.././public/img/hotel_detail/u22.jpg">
							<img src="../.././public/img/hotel_detail/u23.jpg">
							<img src="../.././public/img/hotel_detail/u24.jpg">
							<img src="../.././public/img/hotel_detail/u25.jpg">
							<img src="../.././public/img/hotel_detail/u26.jpg">
						</div>
						<div class="tu">
							<i class="c_x"></i>
							<span>2018-05-15</span>
							<i class="zd"></i>
							<span>此条点评来自游记</span>
							<span class="from">《爱上最美的海岛，三亚最完善的邂逅》</span>
						</div>	
					</div>
					
					
				</div>
				
				<div class="comment_detail border5">
						<div class="left_user flex1">
							<a class="user_tx2"></a>
							<div class="left_l">
							<a href="">马蜂窝用户</a>
							<p>LV.4</p>
							</div>
						</div>
					<div class="rigth_commen">
						<div class="text">位于大东海比较靠近市区，做什么都方便、当然少不了吃吃喝喝咯、酒店旁边就有一个巨大型的大菠萝商场。大堂里的花盆感觉很特别，一斤大堂就闻到一股芬芳的香味剽袭而来，却没有分辨出什么是花儿。拿到房卡后马上直奔到房间。进去的第一时间做的就是把空调打开、因为已经热得不行了、为了睡得舒服、我订了双标房。床枕头都软软的谁的舒服。房间里面的沙发、晚上可以躺着看看电视、看看书、拉开窗帘就可以观景、脚底有个小桌子、很方便我们晚上饿了、方便我们打夜宵坐着吃。站在阳台上可以观到三亚最美的景色与大东海、之前订的高级海景房、酒店离海不行有十分钟左右的距离，而且我住的楼层不是很高就在7楼，被前面的楼已经挡住我管害得视线了、只能看到一部分、不过这种椰梦长廊配上蔚蓝色的大海颜色已经很满足。</div>	
						<div>
							<img src="../.././public/img/hotel_detail/u31.png">
							<img src="../.././public/img/hotel_detail/u32.png">
							<img src="../.././public/img/hotel_detail/u33.png">
							<img src="../.././public/img/hotel_detail/u34.png">
							<img src="../.././public/img/hotel_detail/u35.png">
							
						</div>
						<div class="tu">
							<i class="c_x"></i>
							<span>2018-06-21</span>
							<i class="zd"></i>
							<span>此条点评来自游记</span>
							<span class="from">《奢享慢行——都是到不了的远方，五天四晚三亚之旅》</span>
						</div>	
					</div>
					
					
				</div>
				
				
				
				</div>
				
			
			
	
		</div>
</div>
</div>
</div>
</div>
</template>





<style scoped>
    *{
	margin:0;
	padding:0;
}
.hotelhotel_detail{
		font-size:14px;
		color:#666;
		box-sizing:border-box;
		font-family: Arial,"Lucida Grande","Microsoft Yahei","Hiragino Sans GB","Hiragino Sans GB W3",SimSun,"PingFang SC",STHeiti;
	}
	a{
		color:#666;
		text-decoration:none;
		display: block;
	}
	input{
		outline:0;
		border-color: #999999;
		box-shadow: #DDDDDD;
	}
	.flex{
		display:flex;
		flex-wrap:wrap;
		justify-content:space-between;
	}
	.flex1{
		display:flex;
		flex-wrap:wrap;
		justify-content:space-around;
	}
	.flex2{
		display:flex;
		flex-direction:column;
		flex-wrap:wrap;
		align-items:flex-start;
	}
	.flex3{
		display:flex;
		justify-content:space-around;
	}
	.flex4{
		display:flex;
		flex-wrap:wrap;
	}
	.flex5{
		display:flex;
		flex-direction:column;
		align-items:flex-start;
	}
	ul,li{
		list-style:none;
	}
	.border{
		border: 1px solid #D7D7D7;
	}
	.border2{
		border: 2px solid #D7D7D7;
	}
	.border3{
		border: 1px dotted #D7D7D7;
	}
	.border4{
		border-bottom: 1px solid #D7D7D7;
	}
	.border5{
		border-bottom: 1px dotted #D7D7D7;
	}
	.pop-box{
		width:100%;
		height:100%;
		position:fixed;
		z-index:2;
		background:rgba(0,0,0,.75);
		color:#fff;
		/* display:none; */
		
	}
	.inside{
		margin:0 auto;
		width:1000px;
		height:552px;
		margin-top:30px;
	}
	.box-nav{
		width:640px;
		float: left;
		margin-left:82px;
	}
	.box-nav a{
		float: left;
		margin-right:20px;
		margin-top: 5px;
		color:#fff;
		margin-top:5px;
	

	}
	.box-nav a:hover{
		color:#ff9d00;
	}
	.cut i{
		width:30px;
		height:30px;
		background:url(/img/i/hotel.png) no-repeat 0px -70px;
		display:inline-block;
		position:relative;
		left:215px;
		top:5px;
	}
	.photo_left{
		width:680px;
		height:470px;
		margin-top:12px;
		margin-left:80px;
		position: relative;
		overflow: hidden;
		float:left;
	}
	.my-big{
		width:680px;
		height:470px;
		vertical-align:middle;
	}
	.cover{
		width:100%;
		height:100%;
		z-index:1;
		position:relative;
		top:-100%;
		left:0;
	}
	.left{
		width:49%;
		height:100%;
		float: left;
		
	}
	.left i{
		background:url(/img/i/hotel.png) no-repeat 35px 0px;
		display:inline-block;
		width:70px;
		height:60px;
		margin-top:210px;
		margin-left:-20px;

	}
	.right{
		width:49%;
		height:100%;
		float:right;
	}
	.right i{
		background:url(/img/i/hotel.png) no-repeat -30px 0px;
		display:inline-block;
		width:70px;
		height:60px;
		margin-top:210px;
		margin-left:280px;

	}
	.btn-up i{
		width:55px;
		height:30px;
		background:url(/img/i/hotel.png) no-repeat -143px 0px;
		display:inline-block;
		position: relative;
		top:-30px;
		left:60px;
	}
	.btn-down i{
		width:55px;
		height:30px;
		background:url(/img/i/hotel.png) no-repeat -143px -70px;
		display:inline-block;
		position: relative;
		bottom:-450px;
		left:60px;
	}
	.photo_right{
		width:120px;
		height:470px;
		float:left;
		margin-left:30px;
		margin-top:-53px;
		position: relative;
	}
	.photo_right ul li img{
		width:120px;
		height:85px;
		margin-bottom:7px;
		transition:all 0.6s;
	}
	.photo_right ul li img:hover{
		transform:scale(1.2);
	}

	.heigh{
		width:100%;
		height:100%;
		position:fixed;
		z-index:20;
		background:rgba(0,0,0,.75);
		color:#fff;
		
		/* display:none; */
		
	}
	.heighhotel_detail{
		background:#fff;
		width:508px;
		height:150px;
		margin:0 auto;
		margin-top:180px;
		padding:20px 17px 10px 17px;

	}
	.heighhotel_detail>div:first-child{
		
		line-height:30px;
		color:#333;
		margin-bottom:30px;
		
	}
	.heighhotel_detail>div>span{
		font-size:16px;
	}
	.tuo{
		background: url(/img/i/i2.png) no-repeat 0px -280px;
		display:inline-block;
		width:36px;
		height:26px;
		margin-right:-16px;
		
	}
	.quan:hover{
		transform: rotate(360deg);
	}
	.quan{
		background:url(/img/i/i2.png) no-repeat -40px -280px;
		overflow: hidden;
		width:22px;
		height:22px;
		margin:2px;
		display: inline-block;
		transition: 1s ease-in-out 0s;
		
		cursor:pointer;
	}
	.heighhotel_detail :not(first-child){
		color:#666;
		font-size:12px;
		line-height:30px;
	}
	.header{
	height:60px;
}
.totall{
	margin:0 auto;
	width:1000px;
}
.top-nav{
		width:1000px;
		height:30px;
		
		margin: 0 auto;
}
.top-nav ul{
	width:300px;
}
.top-nav a{
	width:40px;
	font-size:12px;
}
.top-nav ul :first-child{
	width:60px;
}
.top-nav ul :last-child{
	width:120px;
}
.chinese-title{
	height:30px;
	color:#333;
	font-weight:normal;
}
.bird{
		width:24px;
		height:24px;
		background: url(/img/i/i.png) -280px 0 no-repeat;
		margin-left:10px;
		display:inline-block;
		}
.en-title{
	height:24px;
	line-height:24px;
	margin-top: 5px;
}
.location{
	font-size:12px;
	height:24px;
}
.s_dt{
	width:15px;
	height:15px;
	background:url(/img/i/i.png) -130px 0px no-repeat;
	display:inline-block;
	vertical-align:middle;
}
.location span{
	float: left;
}
 .location>a{
	color:#ff9d00;
	width:73px;
	float: left;
	margin-left: 10px;
 } 
 .hotel-header{
	margin: 0 auto;
	width:1000px;
 }
 .big_img{
	 width:680px;
	 height:380px;
	 border-radius:4px;
 }
 .left_img{
	 position:relative;
 }
 .float_text{
	 width:276px;
	 height:78px;
	background:rgba(0,0,0,.75);
	 position:absolute;
	 bottom:20px;
	 left:20px;
	 line-height:20px;
	 
	}
 .float_text>p{
	font-size:14px;
	 color:#fff;
	 margin:10px;
	}
 .right_img{
	 width:320px;
	 height:380px;
 }
 .right_img>li>img{
	 width:150px;
	 height:120px;
	 border-radius:4px;
	
 }
 
 .middle_nav{
	 width:100%;
	 height:50px;
	 border-bottom: 1px solid #999;
	 box-shadow:0 2px 4px rgba(0,0,0,.1);


	 } 
	 .middle{
		 margin: 0 auto;
		 width:1000px;
		 color:#333;
	 }
 .left_nav>a{
	 font-size:16px;
	 width:32px;
	 height:50px;
	 line-height:50px;
	 padding:0 30px;
	  height:50px;
	}
 .left_nav :last-child{
	 width:64px;
 }
 .clearfix:after {
     content: '';
     clear: both;
     height: 0;
     display: block;
     overflow: hidden;
		 }
 .right_nav>a{
	 width:56px;
	 height:50px;
	 line-height:50px;
	 margin-left:45px;
	 display:inline-block;
	 }
	 .wjx{
		 width:30px;
		 height:30px;
		 background:url(/img/i/i.png) no-repeat -95px -30px;
		 display:inline-block;
		 margin-top:13px;
		 margin-right:-35px;
		 vertical-align:middle;
	 }
	 .middle_room{
		padding:40px 0;
	 }
	 .middle_search{
		height:36px;
		margin-bottom:20px;
	 }
	 .rt{
	 	width:16px;
	 	height:16px;
	 	background:url(/img/i/i.png) -190px 0 no-repeat;
	 	margin:10px 10px 10px -50px;
	 }
	 .ren{
	 	width:15px;
	 	height:17px;
	 	background: url(/img/i/i.png) -70px -140px no-repeat;
	 	margin:10px 10px 10px -50px;
	 }
	 .start_time,.leave_time,.number{
	 	width:14%; 
	 	height:36px;
	 	border-radius:5px;
	 	color:#999;
	 }
	 
	 .start_time:focus,.leave_time:hover,.number:hover,.search:hover{
	 	box-shadow:0 0 1px 1px #FF9D00;
	 }
	.btn{
	 	background-color:#FF9D00;
	 	color: #fff;
	 	 width:120px;
	 	 height:36px;
	 	 border-radius:3px;
	 	 border:0;
	 	 padding-right:10px;
	 	 margin-right:400px;
	 	}
		
		.roomhotel_detail> div{
			width:220px;
			
			padding:0 15px;
			float:left;
		}
		.roomhotel_detail :nth-child(2){
			width:110px;
		}
		.roomhotel_detail  :nth-child(3){
			width:230px;
		}
		.roomhotel_detail  :nth-child(4){
			width:130px;
		}
		.roomhotel_detail  :last-child{
			width:145px;
		}
		.roomhotel_detail{
			height:46px;
			line-height:46px;
			
			color:#333;
			background-color:#f4f4f4;
			border-top-left-radius:4px;
			border-top-right-radius:4px;
			
		}
		.hotel_room{
			height:355px;
			width:99.7%;
			/* float:left; */
			display:flex;
			border-left:1px solid #d7d7d7;
			border-right:1px solid #d7d7d7;
			
		}
		.room_left{
			width:251px;
			height:355px;
			border-right:1px solid #d7d7d7;
		}
		.room_left a{
			text-align:right;
			margin-top:30px;
		}
		.room_type{
			width:220px;
			height:67px;
			padding:15px;
			position: relative;
		}
		.room_type span{
			margin-left:10px;
		}
		.point{
			position:absolute;
			 margin: 4px 5px 5px 0;
			border-left:4px solid #ffa800;
			border-top: 4px dashed transparent;
			border-bottom:4px dashed transparent;
			left:16px;
			top:18px;
	
		}
		
		.user_number{
			width:110px;
			height:30px;
			padding:0 15px;
		}
		.ruzhu{
			
			display:inline-block;
    		width: 13px;
    		height: 13px;
    		background: url(/img/i/i.png) no-repeat -135px -220px;
			
		}
		.ruzhu:hover+span{
			display:block;
			transition:all 1s ease-in-out;
		}
		.xianzhi{
			position: relative;
		}
		.zeng{
			z-index:2;
			display: none;
			/* display: block; */
			position:absolute;
			top:-75px;
			left:-100px;
			width:295px;
			height:50px;
			background: rgba(0,0,0,1.65);
			color:#fff;
			font-size:12px;
			padding:10px;
		}
		
		.t_ren{
			width:19px;
			height:16px;
			background:url(/img/i/i.png) -90px -140px no-repeat;
			display:inline-block;
			vertical-align:middle;
		}
		.room_desc{
			width:746px;
			height:117px;
			padding:30px 0;
		}
		.room_desc input{
			width:42px;
			height:26px;
			padding:0 10px;
		}
		.room_desc ul{
			width:230px;
			height:120px;
			padding:0 15px;
			
		}

		.room_desc>ul:nth-child(2) li:nth-child(2){
			color:#f35035;
		}
		.room_desc>ul:nth-child(2) li:nth-child(4){
			color:#19e219;
		}
		.room_desc ul li{
			height:24px;
		
			
			list-style: disc;
		}
	
		
		.room_desc a{
			width:28px;
			height:24px;
			padding:2px 22px;
			background-color:#ffb200;
			color:#fff;
		}
		.room_price{
			width:130px;
			height:26px;
			padding:0 15px;
			font-size:20px;
			color:#ffb200;
		}
		.room_price :nth-child(2){
			font-size:12px;
		}
		.yuding{
			width:145px;
			height:48px;
			padding:0 15px;
			position: relative;
			
		}
		/* .yuding span{
			margin-right:85px;
		} */
		.kuang{
			width:42px;
			height:16px;
			padding:5px 8px;
			
			
			position: relative;
		}
		.kuang>span:nth-child(1){
			width:16px;
			margin:10px 0;
			vertical-align:middle;
			text-align:center;
			
		}
		.kuang>span:nth-child(2){
			height:10px;
			width:2px;
			color:#666;
			border-right:1px solid #d7d7d7;
			margin-left:15px;
		}
		
		.kuang .kuang_number{
			background:url(/img/i/i.png) no-repeat -117px -206px;
			width:13px;
			height:10px;
			display:inline-block;
			position: absolute;
			top:10px;
			left:35px;
			
			vertical-align:middle;
    	}
		.surplus{
			position: absolute;
			top:28px;
			left:20px;
		}
		.room_desc .select_roomnum{
			width:28px;
			padding:0 15px;
			height:200px;
			z-index:2;
			background:#fff;
			position: absolute;
			top:29px;
			left:18px;
			border-top:0 none;
			
		}
		.room_desc .select_roomnum li{
			list-style:none;
			color:#666;
			text-align:left;
			
			line-height:30px;
		}
		.title_left{
			width:235px;
		}
		.title_middle{
			width:400px;
			margin-left:115px;
		}
		.title_right{
			width:110px;
			padding-right:20px;
		}
		.platfom{
			padding:15px;
			height:40px;
			line-height:40px;
		}
		.platfom i{
			color: #FF4500;
			width:10px;
			height:13px;
		}
		.platfom .left{
			width:235px;
			height:30px;
		}
		.platfom .middle_room{
			width:400px;
			height:30px;
			margin-left:150px;
		}
		.platfom .right{
			width:140px;
			height:30px;
			margin-right:20px;
		}
		.platfom .right_price{
			width:118px;
			height:43px;
		}
		.platfom>div>img{
			width:100px;
			height:20px;
		}
		.right_price :first-child{
			color:#ff8a00;
			font-size:20px;
			font-weight:bold;
		}
		.bottom{
			padding:70px 0;
		}
		.bottom_map{
			 width:680px;
			 height:380px;
		 }
		 .map_right{
			 padding:0 10px;
		 }
		 .interest{
			 
			  border-bottom: 3px solid #ff9d00;
    		color: #ff8a00;
			font-size:16px;
			width:50%;
			height:35px;
			text-align: center;
		 }
		 .traffic{
			font-size:16px;
			width:50%;
			height:35px;
			text-align: center;
		 }
		 .interest_border{
			  border-bottom: 3px solid #ff9d00;
			 
		 }
		 .traffic_border{
			 border-bottom: 3px solid #ff9d00;
			 display:hidden;
			
		 }
		 .traffic:hover{
			 color: #ff8a00;
			 border-bottom: 3px solid #ff9d00;
		 }
	 .bottom>ul>a{
		 width:155px;
		 height:35px;
		 text-align:center;
		 display:block;
		}
		.distince_detail{
			width:293px;
			height:345px;
			border-top:1px solid #d7d7d7;
			overflow-y:scroll;
		}
		.traffic_detail{
			width:293px;
			height:345px;
			border-top:1px solid #d7d7d7;
			
		}
		.hotel_info .distince_detail li{
			padding: 10px 10px;
    		border-bottom: 1px dashed #cecece;
			width:263px;
			height:46px;
		}
		.hotel_info .distince_detail li>span:nth-child(2){
			width: 140px;
			height:7px;
			float:left;
    		display:inline;
    		margin: 15px 0 0 1px;
		}
		.hotel_info .distince_detail li>span:nth-child(2) i{
			float: left;
    		margin-left: -1px;
   			 width: 12px;
    		height: 6px;
    		border: 1px solid #999;
    		border-top: 0 none;
		}
		.hotel_info .distince_detail li>span:nth-child(3){
		
			float: right;
			
    		
		}
		.hotel_info .traffic_detail li{
			padding: 10px 10px;
    		border-bottom: 1px dashed #cecece;
			width:263px;
			height:46px;
		}
		.hotel_info .traffic_detail li>span:nth-child(2){
			width: 140px;
			height:7px;
			float:left;
    		display:inline;
    		margin:15px 0 0 1px;
		}
		.hotel_info .traffic_detail li>span:nth-child(2) i{
			float: left;
    		margin-left: -1px;
   			 width: 12px;
    		height: 6px;
    		border: 1px solid #999;
    		border-top: 0 none;
		}
		.hotel_info .traffic_detail li>span:nth-child(3){
		
			float: right;
			
    		
		}
		.hotel_info{
			padding:40px 0;
		}
		.hotel_info dt{
			width:155px;
			float:left;
			font-size:16px;
		}
		.hotel_info p{
			margin-bottom:12px;
		}
	
		.hotel_info li{
			float:right;
			width:165px;
		
		}
		.hotel_info .info_six li{
			
			width:843px;
			line-height:25px;
		}
		.info_first{
			height:25px;
			padding:20px 0;
		}
		.info_first>dl>dt{
			width:150px;
		}
		.info_first>dl>dd{
			width:165px;
		}
		.info_two{
			padding-top:20px;
		}
		.info_three{
			padding-top:20px;
		}
		.info_four{
			padding-top:20px;
		}
		.hotel_hidden{
			width:77px;
			margin-left:155px;
		}
		.info_five{
			padding:20px 0;
			font-weight:bold;
		}
		.info_six{
			padding:20px 0;
			height:130px;
		}
	
			
		/* .hotel_comment{
			height:600px;
			
		} */
		.hotel_comment h3{
			margin-bottom:20px;
			font-size:24px;
			text-align:center;
			font-weight: normal;
			color: #333;
		}
		.hotel_comment dl{
			height:90px;
			margin-bottom:15px;
			padding:0 15px;
		}
		.hotel_comment dl dt span{
			font-size:48px;
			color:#ff8a00;
		}
		.hotel_comment dl dd span{
			font-size:18px;
		
			
		}
		.hotel_comment dd{
			width:100px;
			height:90px;
			text-align:center;
			margin:0 15px;
		}
	
		
	
		.comment_top>a:first-child{
			height:40px;
			line-height:40px;
			width:120px;
			padding:0 15px;
			border-bottom: 3px solid #ff9d00;
    		font-weight:bold;
			
		}
		.comment_top>a:last-child{
			height:40px;
			line-height:40px;
			width:120px;
			padding:0 15px;
			float:left;
			margin-top:-45px;
			margin-left:180px;
			color:#333;
			
		}
		.comment_top>a:last-child:hover{
			font-weight:bold;
			
		}
		.commenthotel_detail{
			height:500px;
			margin-top:20px;
			margin-bottom:30px;
			
		}
		.left_user{
			width:150px;
			height:63px;
			margin:0;
			float:left;
			
		}
		.user_tx{
			width:50px;
			height:50px;
			border-radius:50%;
			background: url(/img/hotel_detail/u1.jpeg)-20px -10px;
		}
		.user_tx2{
			width:50px;
			height:50px;
			border-radius:50%;
			background: url(/img/hotel_detail/u2.png)-23px -25px no-repeat;
			background-size:190%;
		}
		.left_l{
			width:56px;
			margin-left:-20px;
		}
		.left_l a{
			margin-bottom:10px;
			color:#ffa800;
		}
		.left_l p{
			color:#f35035;
			font-weight:bold;
		}
		.rigth_commen{
			float:left;
			width:770px;
		}
		.text{
			margin-bottom:20px;
			line-height:25px;
		}
		.rigth_commen img{
			width:250px;
			height:150px;
			margin-bottom:4px;
			margin-right:4px;
		}
		.c_x{
			width:105px;
			height:20px;
			background:url(/img/i/i.png)-70px -108px no-repeat;
			display:inline-block;
			margin-right:10px;
			vertical-align:middle;
		}
		.zd{
			width:16px;
			height:16px;
			background:url(/img/i/i.png)-220px -141px no-repeat;
			display:inline-block;
			margin-left:10px;
			vertical-align:middle;
		}
		.from{
			color:#ff7000;
		}
		.tu{
			margin-top: 10px;
		}
</style>
<script>
// import hotel_map from '../components/hotel_position'
     export default{
		//  components:{
		// 	 'hotel_position':hotel_position
		//  },
		data(){
			return{
				box:false,
				heigh:false,
				traffic:false,
				interest:true,
				// class:{
				// 	traffic_border:false,
				// 	interest_border:true
				// },
				select_roomnum:false,
				hotel_detail:[]
				
			}
		},
		mounted(){
			////////////////////////////////////////
			//创建地图实例（通过字符串string）
				let map=new BMap.Map('container')
				//设置地图实例坐标中心及展示级别--省。自治区，直辖市名称
				// map.centerAndZoom('陕西',7); 或者 map.centerAndZoom('陕西')
				//利用拾取器创建三亚市坐标点
				let point=new BMap.Point(109.517123,18.259835);
				//设置地图实例的坐标中心及展示级别实例
				map.centerAndZoom(point,15);
				//禁止地图拖拽gognn
						// map.disableDragging()
						//启动鼠标滚动时缩放图
						map.enableScrollWheelZoom();
						
						//禁止鼠标滚动缩放图（默认禁止）
						// map.disableScrolWheelZoom();
						//创建size对象，用来控制缩放平移的距离
						let size=new BMap.Size(20,20)
						//创建navigation（）控件
						let nc=new BMap.NavigationControl(
						{
							//控件停靠位置(左上角)
							anchor:BMAP_ANCHOR_TOP_LEFT,
							//距离容易左上部的距离
							offset:size,
							//控件平移缩放样式
							type:BMAP_NAVIGATION_CONTROL_LARGE,
							
						})
						//添加navigationcontrol()平移缩放控件
						map.addControl(nc);
					//创建覆盖物(标记)
						//创建size对象
						let iconsize=new BMap.Size(32,32);
						//创建图标对象
						let icon=new BMap.Icon('map1.png',iconsize)
						//创建图像覆盖物对象
						let marker=new BMap.Marker(point,{
							icon:icon
						});
						//将覆盖物添加到地图上
						map.addOverlay(marker);
///////////////////////////////////////////////////////////////
			this.axios.get('/hotel_detail').then(res=>{
				this.hotel_detail=res.data.results
				console.log(res.data)
			})
			
		},
		methods:{
			
			
			
///////////////////////////////////////////////////
			cut(){
				this.box=!this.box;
			
			},
			big_window(){
				this.box=!this.box;
			},
			right(e){
				if(e.target.nodeName=="IMG"){
						var big=document.getElementsByClassName("my-big")[0]
						console.log(big)
						big.setAttribute("src",e.target.getAttribute("data-target"))
			}
			},
			room_type(){
				this.heigh=true
			},
			close(){
				this.heigh=!this.heigh
			},
			place(){
				this.interest=true
				this.traffic=false
				// this.interest_border=true
				// this.traffic_border=false
			},
			jiaotong(){
				this.traffic=true
				this.interest=false
				// this.traffic_border=true
				// this.interest_border=false
			},
			kuang(){
				this.select_roomnum=true
			}
				
				
					
			
		}
	}
</script>